@use "partials/vars" as *;
@use "partials/mixins" as *;
@use "partials/reset";
@use "partials/utils";

/* Generics */

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
